.rangeOptionGrp
  border none
  margin-bottom 20px
  *
    height 14px
  .dynDesc
    display block
    height auto
    text-align left;
  .autoSwitchDesc
    display inline-block
    padding 0 5px
  input[type="range"]
    width calc(100% - 90px)
  .roSwitchAuto:not(:checked)
    ~ .autoSwitchDesc
      text-decoration line-through 2px
