.warning, .notice
  border 1px solid warningColor
  border-left-width 6px
  background warningColorLight
  color warningColorDark
  padding 30px
  margin 50px
  text-align justify
  overflow hidden
  p
    margin-top 20px
    &:first-child
      margin-top 0;

.notice, .ex
  border 1px solid thirdColor
  border-left-width 6px
  background secondaryColor
  color primaryColor
  p
    margin-top 20px
    &:first-child
      margin-top 0;

.ex
  border 1px solid primaryColor
  border-left-width 6px
  background secondaryColorTer
  color primaryColor


#secuTips
  display inline-block;
  border 2px solid warningColor
  border-radius 100%;
  background warningColorLight
  color warningColorDark
  padding-top 2px
  line-height 22px
  width 24px
