*
    margin 0
    padding 0
    list-style none
ol li
    list-style decimal
    margin-left 20px
body
    background-color:secondaryColor
    color primaryColor
    font-family: asap, sans-serif
.hidden
    display none !important
a
    text-decoration:none

html, body
  min-height 99vh
  display flex
  flex-direction column
  >section
    flex 9
