<%- include('fragments/head.ejs'); %>
<%- include('steps/0_home.ejs'); %>
<%- include('steps/1_pubKey.ejs'); %>
<%- include('steps/2_inputSecrets.ejs'); %>
<%- include('steps/3_inProgress.ejs'); %>
<%- include('steps/4_result.ejs'); %>
<%- include('steps/5_cleaning.ejs'); %>
<%- include('fragments/footer.ejs'); %>
