<%- include('../fragments/header.ejs',{step:2}); %>
<section id="testkey" class="step_2_inputSecrets">
    <div id="test_area">
        <div class="status">
            <div class="tab">
                <input type="checkbox" name="tab" id="tabOptions" value="tabOptions"/>
                <label for="tabOptions" class="tab_header"><i class="fas fa-tools"></i> Options</label>
                <div class="tab_content">
                    <fieldset id="optionsWidgetList">
                    </fieldset>
                </div>
            </div>
            <div class="overview">
                <p>Combinaisons à tester:</p>
                <div><span id="directAltCount">?</span><span id="smartAltCount"></span></div>
                <p>Durée estimée:</p>
                <div id="initialTimeEstimate">?</div>
                <a id="startSearch" class="button" href="#page_3_inProgress">Valider</a>
            </div>
        </div>
        <div class="inputArea">
            <h2>Listez ce que vous avez pu utiliser comme secret d'accès à votre compte :</h2>
            <p>(identifiants secrets et mots de passe à tester)</p>

            <textarea id="secrets">ça (|ne )me serait pas venu[e]{0,1} à l'idée !
 moi non plus[ ]</textarea>
            <%- include('../fragments/browse.ejs'); %>
        </div>
        <div class="tabs">
            <div class="tab">
                <input type="checkbox" name="tab" id="tabSecu" value="tabSecu"/>
                <label for="tabSecu" class="tab_header"><i class="fas fa-lock"></i> Sécurité <span id="secuTips"></span></label>
                <div class="tab_content">
                    <%- include('../fragments/warningOnline.ejs'); %>
                    <%- include('../../../generated/tmp/secu.fr.html'); %>
                </div>
            </div>
            <div class="tab">
                <input type="checkbox" name="tab" id="tabDoc" value="tabDoc"/>
                <label for="tabDoc" class="tab_header"><i class="fas fa-book"></i> Aide</label>
                <div class="tab_content">
                    <%- include('../../../generated/tmp/doc.fr.html'); %>
                </div>
            </div>
        </div>
    </div>
</section>
