.success, .notFound
  h3
    color: fourthColor
    margin 20px;
  a
    color: thirdColor
    &:hover
      text-decoration: underline
  .button
    color primaryColor
  #resIdSec, #resPass
    font-family monospace
    div
      overflow-x auto
      white-space nowrap
      width fit-content
      max-width 100%
      background linear-gradient(0deg, #aaa 0%, #aaa 25%, transparent 25%, transparent 100%)
    span
      display inline-block
      background secondaryColor
      text-align center
      width .8em
      margin-bottom 1px
      margin-right 1px
      &:first-child
        margin-left 1px

.page_4_result .step_4_result
  display flex
  flex-direction column
  justify-content center


.stats
  margin 20px
