#roGrp_save
  display none !important
// tant que l'option n'est pas fonctionnelle, autant ne pas l'afficher.

#testkey
  text-align: center

//----FILTER BUTTONS----

.filter
  display: flex
  justify-content: center


.filter_btn
  border: solid 1px #707070
  padding: 15px 0
  background-color: thirdColor
  width: 130px
  font-weight: 900
  color: primaryColor
  box-shadow: 0 6px 6px black
  margin: 50px

//---SECTION FOR STATUS TEXTAREA AND DESCRIPTION--

#test_area
  display: flex
  justify-content: space-around
.status, .tab_header
  font-size: 20px

//--STATUS--

  .status
    .overview
      color: secondaryColor
      background-color: primaryColor
      padding 20px 0
      padding-top 5px
      border-radius 5px
      margin-top 5px
      > *
        margin: 10px 0
    width: 25vw

    a:last-child
      color: primaryColor
      background thirdColor
      &:hover
        color primaryColor
        background fourthColor

    .button
      margin: 0px auto

  //---INPUT--

  .inputArea
    display flex
    flex-direction column
    h3
      padding 5px
    textarea
      flex 1 200px
      min-width: 40vw
    .browse
      thead, th, .up, .down
        color secondaryColor
        background primaryColor
      .pwd
        border-right 1px solid alpha(primaryColor,.2)
      .index, .idSec, .pwd, .smallIdSec, .smallPwd
        background secondaryColor
        border-top 1px solid alpha(primaryColor,.2)
        border-bottom 1px solid alpha(primaryColor,.2)
        span
          background secondaryColor !important
        span:first-child
          border-left 1px solid alpha(primaryColor,.2)
        span:last-child
          border-right 1px solid alpha(primaryColor,.2)
      .up, .down
        &:hover
          color primaryColor
          background thirdColor

.majuscules_details
  list-style: circle


// -----------

#optionsWidgetList
  border none
  > legend
    font-weight bold
    margin-bottom 20px
    font-size 120%
