<%
const canonical = "https://g1.1000i100.fr/gsper/"
_%>
<!DOCTYPE html>
<html lang="fr" prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">

<head prefix="og: http://ogp.me/ns# website: http://ogp.me/ns/website#">
    <meta charset="utf-8" />
    <title>Ǧsper > <%= typeof title!== "undefined" ? title : `retrouver l'accès à mon compte Ǧ1 (par attaque dictionnaire).` %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=3">
    <link rel="icon" type="image/png" sizes="16x16" href="img/logo/favicon.png">
    <link rel="icon" type="image/svg+xml" sizes="any" href="img/logo/favicon.svg"/>
    <link rel="canonical" href="<%=canonical%>"/>
    <!--  -->
    <link rel="stylesheet" href="style.css">

    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="fr_FR"/>
    <meta property="og:title" content="Ǧsper > retrouver l'accès à mon compte monnaie libre Ǧ1."/>
    <meta property="og:url" content="<%=canonical%>"/>
    <meta property="og:image" content="<%=canonical%>img/logo/gsper-logo-opengraph-fb-size.jpg"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="620" />
    <meta property="og:image" content="<%=canonical%>img/logo/gsper-logo-couleur.jpg"/>
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1200" />

    <meta property="og:description" content="Ǧ'Perdu l'accès à mon compte, Ǧ'spère le retrouver ! ǦéDéClé à tester !"/>
    <meta property="og:updated_time" content="<%=Date.now()%>"/>
</head>

<body class="page_0_home">
<noscript>
    <div class="warning">Ǧsper a besoin de <strong>JavaScript</strong> pour fonctionner.</div>
</noscript>
